<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capstone.frontapp">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 통화 연결 권한 설정 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 갤러리 권한 설정 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FrontApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ExpertResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao5a810df49a17ce172bbe78639ab3f19a" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpertActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>